table{margin:10px 0}table thead th{border:1px solid #000;color:#9f0712;padding:10px 5px}table td{border:1px solid #000}table tbody tr{border:1px solid #000;color:#000}table tbody tr:nth-child(odd){background-color:#fefce87f}
